* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: #474a56;
    font-family: 'Alice', serif;
}
  


/* -------------------header--------------------- */
header {
    background: #e6e7e5;
    flex-shrink: 0;
}


nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

header nav h2 {
    font-family: 'Yellowtail', cursive;
}


.settings {
    display: flex;
    align-items: center;
}

#settings-button {
    border: none;
    background: none;
    cursor: pointer;
}


.settings-icon {
    font-size: 25px;
}



#style-links {
    list-style-type: none;
}

#style-links li button {
    display: block;
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
    border: none;
    cursor: pointer;
}


#silver {
    background: #e6e7e5;
}

#green {
    background: #5EA3A3;
}

#blue {
    background: #60A9CC;
}


h1 {
    text-align: center;
    padding: 20px 0;
    font-size: 50px;
    background: #f5efe3;
}







/* ------------------------------main--------------------------- */
main {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    flex-shrink: 0;
    background: #f5efe3;
    padding: 30px 0;
}


.img-container img {
    opacity: 0.3;
}



#warning-empty {
    margin-top: 15px;
    font-size: 16px;
    color: red;
}


#todo-adding {
    font-size: 16px;
    border: 2px solid #f7d3ba;
    padding: 5px;
    width: 600px;
    margin: 0px 5px 10px 0;
}


#todo-adding::placeholder {
    color: grey;
}

#adding-button {
    font-size: 16px;
    margin: 10px 0;
    border: 1px solid #f7d3ba;
    background: #f7d3ba;
    border-radius: 10px;
    padding: 5px 10px;
    transition: background 2s ease;
}
  
#adding-button:hover {
    background: #a6aa9c;
    cursor: pointer;
}


#show-priority-button, #show-oldest-button {
    font-size: 14px;
    padding: 5px;
    border: 1px solid #f7d3ba;
    border-radius: 10px;
    background: #f7d3ba;
    transition: background 2s ease;
}


#show-priority-button:hover, #show-oldest-button:hover {
    cursor: pointer;
    background:#a6aa9c;
}




.change-opacity {
    color: rgba(0, 0, 0, 0.3);
}

.is-green {
    color: lightseagreen;
    opacity: 0.5;
}




.todo-lists {
    display: flex;
    padding-top: 20px;
}


.todo-item {
    padding-bottom: 15px;
    list-style-type: none;
    max-width: 600px;
}


.todo-item-container {
    display: flex;
}


.todo-text-container {
    padding: 0 15px;
}


.todo-text {
    display: flex;
    flex: 1 0 auto;
}

.todo-text p {
    font-size: 22px;
}

.change-todo-text-p-style {
    background: white;
    border: 1px solid #f7d3ba;
    padding: 3px;
}


.save-cancel-container {
    display: flex;
    margin-top: 5px;
}


.save-button, .cancel-button {
    font-size: 14px;
    padding: 5px;
    border: 1px solid #f7d3ba;
    border-radius: 10px;
    background: #f7d3ba;
    transition: background 2s ease;
}

.save-button:hover, .cancel-button:hover {
    cursor: pointer;
    background:#a6aa9c;
}

.save-button {
    margin-left: 20px;
    margin-right: 5px;
}




.todo-attribute {
    display: flex;
    justify-content: flex-start;
}

.todo-attribute p {
    padding-left: 20px;
    font-size: 16px;
}

.piority {
    color: red;
    font-weight: bold;
    display: block;
}




.delete-question {
    font-size: 16px;
    color: red;
    padding: 5px 0px 0px 20px;
}


.delete-answer-buttons-container {
    margin-left: 20px;
  
}

.delete-yes, .delete-no {
    font-size: 14px;
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #f7d3ba;
    border-radius: 10px;
    background: #f7d3ba;
    transition: background 2s ease;
}


.delete-yes:hover, .delete-no:hover {
    cursor: pointer;
    background:#a6aa9c;
}




.heart-icon {
    padding-right: 10px;
    display: flex;
    align-self: center;
}

.icon-container {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.pencil, .calendar, .exclamation, .trash, .check {
    display: block;
    cursor: pointer;
}


.arrow, .pencil, .calendar, .exclamation, .trash, .check {
    border: none;
    background: none;
    padding: 10px;
    transition: color 2s ease;
}



.arrow-icon, .pencil-icon, .calendar-icon, .exclamation-icon, .trash-icon, .check-icon {
    font-size: 20px;
    align-self: center;
    color: #f7d3ba;
}

.arrow-icon:hover, .pencil-icon:hover, .calendar-icon:hover, .exclamation-icon:hover, .trash-icon:hover, .check-icon:hover {
    cursor: pointer;
    color: #a6aa9c;
}


.arrow-icon {
    display: flex;
}


.is-hidden {
    display: none;
}

/* the datepicker is originally executed on an input field, which we hide here */
.datepicker-input {
    visibility: hidden;
    width: 0px;
}


.ui-widget-content {
    border: 1px solid #dddddd;
    border-radius: 10px;
	background: #ffffff;
	color: #333333;
}







/* -----------------------------footer-------------------------- */
footer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background: #e6e7e5;
    text-align: center;
    padding: 10px 0;
}
  
footer p {
    font-size: 0.875em;
}

.footer-trademark p {
    font-family: 'Yellowtail', cursive;
}
  
  
.website-credit p {
    color: #474a56;
    font-size: 0.75em;
}
  
.website-credit a {
    text-decoration: none;
    color: #474a56;
    font-style: italic;
    font-size: 0.75em;
    transition: font-size 1s ease;
}
  
.website-credit a:hover {
    font-size: 1em;
}





/* ------------------------------different color themes---------------------- */

/* green+purple {

color: #eaafaf;
color: #F1FFF1;
color: #5EA3A3;
color: #DDE0AB;

} */

.green header,
.green footer {
    background: #5EA3A3;
}

.green h1,
.green main {
    background: #F1FFF1;
}

.green #todo-adding {
    border: 2px solid #c4c1e0;
}

.green #adding-button,
.green #show-priority-button,
.green #show-oldest-button,
.green .save-button,
.green .cancel-button,
.green .delete-yes,
.green .delete-no {
    border: 1px solid #8559a5;
    background: #c4c1e0;
}


.green #adding-button:hover,
.green #show-priority-button:hover,
.green #show-oldest-button:hover,
.green .save-button:hover,
.green .cancel-button:hover,
.green .delete-yes:hover,
.green .delete-no:hover {
    background: #DDE0AB;
}


.green .change-todo-text-p-style {
    background: white;
    border: 1px solid #8559a5;
}


.green .arrow-icon,
.green .pencil-icon,
.green .calendar-icon,
.green .exclamation-icon,
.green .trash-icon,
.green .check-icon {
    color: #c4c1e0;
}

.green .arrow-icon:hover,
.green .pencil-icon:hover,
.green .calendar-icon:hover, 
.green .exclamation-icon:hover,
.green .trash-icon:hover,
.green .check-icon:hover {
    color: #DDE0AB;
}





/*blue {

color: #DCF2F8;
color: #29E0FA;
color: #60A9CC;
color: #8ea6b4;

}*/


.blue header,
.blue footer {
    background: #60A9CC;
}

.blue h1,
.blue main {
    background: #DCF2F8;
}

.blue #todo-adding {
    border: 2px solid #29E0FA;
}

.blue #adding-button,
.blue #show-priority-button,
.blue #show-oldest-button,
.blue .save-button,
.blue .cancel-button,
.blue .delete-yes,
.blue .delete-no {
    border: 1px solid #29E0FA;
    background: #29E0FA;
}


.blue #adding-button:hover,
.blue #show-priority-button:hover,
.blue #show-oldest-button:hover,
.blue .save-button:hover,
.blue .cancel-button:hover,
.blue .delete-yes:hover,
.blue .delete-no:hover {
    background: #8ea6b4;
}


.blue .change-todo-text-p-style {
    background: white;
    border: 1px solid #29E0FA;
}


.blue .arrow-icon,
.blue .pencil-icon,
.blue .calendar-icon,
.blue .exclamation-icon,
.blue .trash-icon,
.blue .check-icon {
    color: #29E0FA;
}

.blue .arrow-icon:hover,
.blue .pencil-icon:hover,
.blue .calendar-icon:hover, 
.blue .exclamation-icon:hover,
.blue .trash-icon:hover,
.blue .check-icon:hover {
    color: #8ea6b4;
}